<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-input type="number" [(ngModel)]="param1" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" [(ngModel)]="param2" ></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button full (click)="testAdd(param1, param2)" > Add </button>
  <button ion-button full (click)="testSubstract(param1, param2)"> Substract </button>
</ion-content>
